body {
    background-color: hsl(0, 0%, 94%);
}

.container {
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 25vh;
    border-radius: 20px 20px 200px 20px;
}

.content {
    padding: 35px 25px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-field {
    float: left;
}

.input-field label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
}

.input-field input {
    display: block;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-indent: 15px;
    width: 100%;
    max-width: 125px;
    box-sizing: border-box;
}

.error-color {
    color: hsl(0, 100%, 67%) !important;
}

.error-border-color {
    border-color: hsl(0, 100%, 67%) !important;
}

.error-message {
    display: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: hsl(0, 100%, 67%);
    width: 100%;
}

.button-group {
    padding: 50px 0;
    position: relative;
    width: 100%;
}

.button-group hr {
    border-color: hsl(0, 0%, 86%);
    display: inline-block;
    width: 85%;
    z-index: 1;
}

.button-group button {
    position: absolute;
    right: 100px;
    bottom: 30px;
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
    z-index: 2;
    width: 60px;
    height: 60px;
}

.button-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.age-display-group span {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 60px;
    color: hsl(259, 100%, 65%);
}

.age-display-group div:not(.age-numeric) {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 60px;
}

@media (max-width: 600px) {
    .container {
        width: 95vw;
    }
    .input-group {
        width: 100%;
    }
    .input-field {
        width: calc(31.5%);
    }
    #input-field-day {
        margin-right: 10px;
    }
    #input-field-month {
        margin-right: 10px;
    }

    .button-group hr {
        width: 100%;
    }

    .button-group button {
        right: calc(50% - 23.5px);
    }
}

@media (min-width: 600px) {
    .container {
        width: 80vw;
    }

    .input-field {
        width: 25%;
    }

    .button-group hr {
        width: 100%;
    }

    .button-group button {
        right: calc(50% - 23.5px);
    }
}

@media (min-width: 768px) {
    .container {
        width: 65vw;
    }
    .content {
        padding: 45px;
    }
    .input-group {
        width: 80%;
    }

    #input-field-day {
        margin-right: 5px;
    }
    #input-field-month {
        margin-right: 5px;
    }
    .button-group hr {
        width: 99%;
    }
    .button-group button {
        right: 0;
        bottom: 25px;
        width: 75px;
        height: 75px;
    }
    .button-icon {
        width: 37.5px;
        height: 37.5px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 50vw;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50vw;
    }
}

.attribution {
    position: fixed;
    bottom: 0;
}
