body {
    background-color: hsl(0, 0%, 94%);
}

.container {
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 25vh;
}

.content {
    padding: 25px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-field {
    float: left;
}

.input-field label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
}

.input-field input {
    display: block;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-indent: 15px;
    max-width: 125px;
}

.button-group {
    padding: 25px 0;
    position: relative;
    width: 100%;
}

.button-group hr {
    border-color: hsl(0, 0%, 86%);
    display: inline-block;
    width: 85%;
    z-index: 1;
}

.button-group button {
    position: absolute;
    right: 100px;
    bottom: 12.5px;
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
    z-index: 2;
}

.button-icon {
    padding: 5px;
    width: 25px;
    height: 25px
}

@media (max-width: 600px) {
    .container {
        width: 95vw;
    }
    .input-group {
        width: 100%;
    }
    .input-field {
        width: calc(31.5%);
    }
    .input-field input {
        width: 100%;
    }
    #input-field-day {
        margin-right: 10px;
    }
    #input-field-month {
        margin-right: 10px;
    }

    .button-group hr {
        width: 100%;
    }

    .button-group button {
        right: calc(50% - 23.5px);
    }
}

@media (min-width: 600px) {
    .container {
        width: 80vw;
    }

    .input-field {
        width: 25%;
    }

    /* .input-field input {
        width: 50%;
    } */
}

@media (min-width: 768px) {
    .container {
        width: 65vw;
    }

    /* .input-field input {
        width: 60%;
    } */
}

@media (min-width: 992px) {
    .container {
        width: 50vw;
    }

    /* .input-field input {
        width: 70%;
    } */
}

@media (min-width: 1200px) {
    .container {
        width: 50vw;
    }

    /* .input-field input {
        width: 80%;
    } */
}

.attribution {
    position: fixed;
    bottom: 0;
}
